<html >
    <head>
        <title>{% block title %}student options{% endblock %}</title>
        <!--to work for any view port-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--loads path to static files-->
        {% load staticfiles %}
        {% load admin_urls %}

        <link rel="stylesheet" type="text/css" href="{% static "eventManager/css/bootstrap.min.css"%}"/>
        <script src="{% static "eventManager/jquery.js"%}"></script>
        <script src="{% static "eventManager/js/bootstrap.min.js"%}"></script>

    </head>
    <body>

        <div class="jumbotron" style="background-color:#2e6da4;width:100%;padding:3%">
               <div class ="text-center" style=" font-size: 300%;color:#F8FBFC;"> EVENT MANAGER</div>
        </div>


       <div align="center">
            <div class="center-block" style="max-width:400px">
                 &nbsp &nbsp &nbsp&nbsp<button type = "button" class = "btn btn-primary btn-lg" onclick="location.href='viewAllEvents'">
                    view all events
                </button>
                <br><br><br>
                &nbsp&nbsp&nbsp &nbsp&nbsp
                 <button type = "button" class = "btn btn-primary btn-lg" onclick="location.href='viewMyDeptEvents'">
                     view my Department events
                </button>

                <br><br><br>
                &nbsp &nbsp &nbsp&nbsp &nbsp
                <button type = "button" class = "btn btn-primary btn-lg" onclick="location.href='feedback'">
                    feedback
                </button>
                <br><br><br>
                &nbsp &nbsp &nbsp&nbsp &nbsp
                <button type = "button" class = "btn btn-primary btn-lg" onclick="location.href='/eventManager/studentLogin/'">
                    logout
                </button>
            </div>
       </div>

    </body>
</html>